@import '../app-styles.scss';

.about-page {
  height: 100%;
  width: 100%;

  //border: 1px solid red;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-blurb {
  height: 30vh;
  width: 70%;
  padding: 20px 20px;

  //border: 1px solid orange;
}

.contact-info {
  height: 20vh;
  width: 70%;
  padding: 20px 20px;

  text-align: left;

  //background-color: $background-color-dark;
  //color: $light-text;

  //border: 1px solid grey;
}
