@import './app-styles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
}

.header-container {
  width: 100vw;
  height: 10vh;

  //border: 1px solid green;
  background-color: $background-color-light;
}

.body {
  width: 100vw;
  height: 200wh;

  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  height: 20vh;
  width: 100vw;

  border: 1px solid red;
}